body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Millenia';
  src: local('Millenia'), url(./fonts/MilleniaPersonalUse-w1OB8.ttf) format('truetype');
}

@font-face {
  font-family: 'Goldleaf';
  src: local('Goldleaf'), url(./fonts/GoldleafBoldPersonalUseBold-eZ4dO.ttf) format('truetype');
}